@model OrderChina.Models.NewOrderModel
@{
    ViewBag.Title = "CreateOrder";
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<div class='container'>
    <h3 class='text-center'>Tạo đơn hàng từ hệ thống website</h3>
    <div class="alert alert-warning alert-default btn-flat">
        <p class="notification">
        <p>
            <em><u><strong>Chú ý:</strong></u></em><br />
            Mỗi dòng dữ liệu tương ứng với 1 link sản phẩm, quý khách điền thông tin chi tết để thuận lợi trong quá trình giao dịch.<br />
            Hàng được ký nhận tại kho Trung Quốc và trả hàng tại kho Việt Nam của China Express.<br />
            Trước khi tạo đơn hàng, quý khách đọc kỹ quy định và bảng giá của China Express:<br />
            - <em>Hướng dẫn:</em> <a href="http://nhaphangtaobao.com.vn/tin-tuc/dich-vu-dat-hang.html">http://nhaphangtaobao.com.vn/tin-tuc/dich-vu-dat-hang.html</a><br />
            - <em>Quy định:</em> <a href="http://nhaphangtaobao.com.vn/tin-tuc/quy-dinh/quy-dinh-voi-khach-hang-order.html">http://nhaphangtaobao.com.vn/tin-tuc/quy-dinh/quy-dinh-voi-khach-hang-order.html</a><br />
            - <em>Bảng giá:</em> <a href="http://nhaphangtaobao.com.vn/tin-tuc/bang-gia.html">http://nhaphangtaobao.com.vn/tin-tuc/bang-gia.html</a><br />
            Quý khách chốt đơn hàng có nghĩa là quý khách đã <u><em><strong>đồng ý và thực hiện</strong></em></u> theo quy định của <strong>China Express!!!</strong>
        </p>
        </p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-sm-3">
                            <label class="control-label">Link sản phẩm</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Tên shop</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Mô tả</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Số lượng</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Giá</label>
                        </div>
                        @if (!Request.IsAuthenticated)
                        {
                            <div class="col-sm-2">
                                <label class="control-label">SĐT</label>
                            </div>
                        }
                    </div>
                </div>

                <div id="orderDetail" class="form-group">
                    @Html.EditorFor(m => m.ListOrderDetail)
                    <div class="form-group" style="width: 100%;">
                        <div class="col-sm-3">
                            <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required="true">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Shop" placeholder='Tên shop'>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Description" placeholder='Mô tả'>
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control btn-flat" name="ListOrderDetail[0].Quantity" placeholder='Số lượng' required="true">
                        </div>
                        <div class="col-sm-1">
                            <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Price" placeholder='Nhập giá' required="true">
                        </div>
                        @if (!Request.IsAuthenticated)
                        {
                            <div class="col-sm-1">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Phone" placeholder='Số điện thoại' required="true">
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <button name="submit" value="addOrder" class="btn btn-primary btn-flat" onclick="AddCust();" type="submit">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        Thêm hàng mới
                    </button>
                    <button name="submit" value="Process" class="btn btn-default pull-right btn-flat" type="submit">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        Gửi đơn hàng
                    </button>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        function AddCust() {
            var m = $('#orderDetail .form-group:last-child .col-sm-3 input:first').attr("name");
            var index = 0;
            if (m != null && m.length > 0) {
                index = m.split('ListOrderDetail[')[1].replace('].Link', '');
                index++;
            }

            var html = '<div class="form-group" style="width: 100%;">' +
                '<div class="col-sm-3 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder=\'Nhập link sản phẩm\' autofocus="autofocus" required="true">' +
                '</div>' +
                '<div class="col-sm-2 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Shop" placeholder=\'Tên shop\'>' +
                '</div>' +
                '<div class="col-sm-2 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Description" placeholder=\'Mô tả\'>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Quantity"  placeholder=\'Số lượng\' required="true">' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Price"  placeholder=\'Nhập giá\' required="true">' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order text-center"><a class="btn btn-danger" onclick=\'$(this).parent().parent(".form-group").remove()\'><i class="fa fa-trash-o"></i></a></div> ' +
                '</div>';
            $('#orderDetail').append(html);
        };
    </script>
}