@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family: Arial, sans-serif ; padding: 50px 10px 20px 20px; background-color:white ">
    <div style="background-color: #f5f5f5;height:40px"><p style="padding:8px 10px 10px 12px;font-size:13pt"><a href="#" style="color:#03aaff"> Giới thiệu</a> / Đôi nét về công ty</p> </div>
    <div style="padding:15px 0px 15px 0"><h2 style="font-size:28px">Đôi nét về công ty</h2></div>
    <div style="font-size:12pt;margin-bottom:30px"><p><i class="fa fa-calendar-o"></i> Được đăng lúc : 01:51:01 11/01/2016</p></div>
    <div>
        <p style="font-size:13.5pt"><b>1. Đôi nét về công ty</b></p>
        <p style="font-size:12pt">
            - Trải qua hơn 5 năm hình thành và phát triển China Express đã có những bước phát triển không ngừng trong lĩnh vực giao thương hàng hóa Việt Trung.
            <br />- Hiện tại chúng tôi đang cung cấp những dịch vụ sau:
        </p>
        <div style="margin-left:40px">
            <ul style="font-size:12pt ;list-style-type:disc">
                <li>Đặt hàng các trang thương mại điện tử của Trung Quốc</li>
                <li>Vận chuyển hàng hóa chính ngạch 2 chiều TQ - VN</li>
                <li>Vận chuyển hàng hóa từ TQ đi các nước trên thế giới</li>
                <li>Đại diện thương mại</li>
                <li>Cho thuê kho bãi Trung Quốc</li>
                <li>Gom hàng, đóng hàng tại kho Trung Quốc</li>
                <li>Tạo tài khoản Alipay, nạp tiền alipay, thanh toán quốc tế.</li>
            </ul>
        </div>
        <p style="font-size:12pt">
            Với đội ngũ nhân viên trẻ, nhiệt huyết, năng động chúng tôi luôn cố gắng mang đến cho khách hàng chất lượng dịch vụ tốt nhất trên thị trường.
        </p>
        <div>
            <p style="font-size:13.5pt">
                <b>
                    2. Sứ mệnh
                </b>
            </p>
            <span style="font-size: 12pt; font-family: Arial, sans-serif; color: black; border: 1pt none windowtext; padding: 0;">
                Sứ mệnh của chúng tôi là trở thành một công ty cung cấp tất cả  những dịch vụ liên quan đến giao thương Việt Nam – Trung Quốc. Phục vụ tốt nhất những khách hàng trong thị trường mà công ty có được
            </span>
            <span style="font-size:10.0pt;font-family:Arial,sans-serif ; color:black">
                Đem đén cho khách hàng chất lương dịch vụ là tốt nhất, thời gian giao nhận là nhanh nhất, giá cước là cạnh tranh nhất.
            </span>
        </div>
        <p style="font-size:13.5pt">
            <b>
                3.Triết lý
            </b>
        </p>
        <div style="text-align:center">
            <span style="font-size: 12pt; font-family: Arial, sans-serif; color: black; border: 1pt none windowtext; padding: 0in; text-align:center">
                <b><i>“ Nghĩ đến lợi ích của người khách hàng trước khi nghĩ đến lợi ích của mình ’’</i></b>
            </span>
        </div>
        <p style="font-size:12pt">
            Khách hàng là giá trị cơ bản của bất kỳ doanh nghiệp nào, là lý do duy nhất để doanh nghiệp tồn tại và phát triển. Chính sách “khách hàng là trung tâm” chỉ lối dẫn đường cho mọi hoạt động của công ty.
            Chúng tôi lắng nghe, phân tích, thấu hiểu nhu cầu của từng khách hàng và áp dụng kinh nghiệm, kỹ năng, tư duy của mình để giải quyết tối ưu những nhu cầu đó, giúp khách hàng tập trung vào các hoạt động kinh doanh cốt lõi của mình.
        </p>
        <p style="font-size:13.5pt"><b>4.Đội ngũ</b></p>
        <p style="font-size:12pt">
            Đội ngũ nhân viên của chúng tôi là những người trẻ trung, nhiệt huyết; giỏi về chuyên môn, tận tình với công việc, luôn đoàn kết gắn bó tạo ra sức mạnh làm nền tảng cho sự phát triển bền vững của China Express.
            <br />Quy mô công ty hướng tới là 200 người.
        </p>
        <p style="font-size:13.5pt"><b>5.Định hướng phát triển</b></p>
        <p style="font-size:12pt">
            -  Giữ vững và ngày càng tăng tốc độ phát triển trên mọi chỉ tiêu: Doanh số, nhân lực, giá trị thương hiệu,...
            <br />-  Nâng cao uy tín hơn nữa, phấn đấu trở thành đối tác của nhiều khách hàng lớn hơn.
            <br />-  Mở rộng hệ thống văn phòng, kho bãi trong nước và Trung Quốc trong tương lai ( Hải Phòng, Đà Nẵng, Cần Thơ, Bằng Tường, Vân Nam,...)
        </p>
    </div>
</div>