@{
    ViewBag.Title = "_FooterPartial";
}
<section class="banking" id='banking'>
    <span class="b-fog"></span>
    <div class="row">
        <html>
        <head>
            <title></title>
        </head>
        <body>
            <div class="col-md-4">
                <h1 style="text-align: center;">
                    <span style="font-size:24px;">ĐỊA CHỈ TẠI H&Agrave; NỘI:</span>
                </h1>
                <p align="center">
                    <span style="font-size:20px;">Trụ sở: Thành phố giao lưu, Cổ Nhuế, Bắc Từ Liêm, Hà Nội</span>
                </p>
                <div class="row">
                    <div class="col-md-1">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p align="left">
                            <span style="font-size:20px;">Điện thoại</span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p align="cneter">
                            <span style="font-size:20px;">:</span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p align="right">
                            <span style="font-size:20px;">04.212.44.555 </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p align="left">
                            <span style="font-size:20px;">Email</span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p align="cneter">
                            <span style="font-size:20px;">:</span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p align="right">
                            <span style="font-size:20px;"> anphat2512@gmail.com</span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p align="left">
                            <span style="font-size:20px;">Website</span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p align="cneter">
                            <span style="font-size:20px;">:</span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p align="right">
                            <span style="font-size:20px;">www.vantaitrungquoc.vn</span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 style="text-align: center;">
                    <span style="font-size:24px;">Địa chỉ kho bên Trung Quốc :</span>
                </h1>
                <p align="center">
                    <span style="font-size:20px;">Địa chỉ : 广西壮族自治区崇左市凭祥市弄怀广东商贸成46号.</span>
                </p>
                <p align="center">
                    <span style="font-size:20px;">Điện thoại: 13036913045</span>
                </p>
            </div>
            <div class="col-md-4">
                <h1 style="text-align: center;">
                    <span style="font-size:24px;">Tên người nhận：刘孟风  Phong</span><br />
                    <span style="font-size:24px;">Mã bưu chính: 337000</span>
                </h1>
                <div class="padding-15" style="text-align: center;">
                    @*<iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/Nh%E1%BA%ADp-h%C3%A0ng-taobao-1639745042962927/?skip_nax_wizard=true&amp;width=240&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:240px; height:258px;"></iframe>*@
                    <a href="https://www.facebook.com/vantaitrungquoc/">https://www.facebook.com/vantaitrungquoc/</a>
                </div>
            </div>
            <p>
                &nbsp;
            </p>
        </body>
    </html>
    <span class="clearfix"></span>
</div>
</section>

