@if (Request.IsAuthenticated)
{
    var name = Session["Name"] != null ? Session["Name"].ToString() : User.Identity.Name;
    <text>
        @Html.ActionLink(name, "Manage", "Account", null, new { title = "Quản lý" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
        }
    </text>
}
else
{
    <li>@Html.ActionLink("Đăng ký", "Register", "Account")</li>
    <li>@Html.ActionLink("Đăng nhập", "Login", "Account")</li>
}
